<div class="cover-show">
  <div class="container">
    <h1 class="font-weight-normal mt-5 mb-5">旅行投稿詳細</h1>

    <!-- ★ 横並びの親 -->
    <div class="post-and-comments">

      <!-- 左：投稿 -->
      <div class="post-detail">
        <p class="caption"><%= @post.user.name %></p>


        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize_to_limit: [450, 350]) %><br>
        <% end %>

        <p class="caption">
  <%= @post.location %>

  <% if @post.favorited_by?(current_user) %>
    <%= button_to post_favorites_path(@post),
          method: :delete,
          class: "favorite_btn",
          form: { data: { turbo: false } } do %>
      ♥ <%= @post.favorites.count %> いいね
    <% end %>
  <% else %>
    <%= button_to post_favorites_path(@post),
          method: :post,
          class: "favorite_btn",
          form: { data: { turbo: false } } do %>
      ♡ <%= @post.favorites.count %> いいね
    <% end %>
  <% end %>
</p>



        <h2>感想</h2>
        <p id="text"><%= @post.text %></p>

        <%= link_to '編集する', edit_post_path(@post), class: "btn btn-info mr-3" %>
        <%= link_to '削除する', post_path(@post),
              data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" },
              class: "btn btn-danger" %><br>

        <%= link_to '投稿一覧ページへ', posts_path, class: "btn btn-dark mt-3" %>
      </div>

      <!-- 右：コメント -->
      <div class="comments">
        <p>コメント件数：<%= @comments.count %></p>

        <% @comments.each do |comment| %>
          <div class="comments-index mb-2">
            <strong><%= comment.user.name %></strong>
            <%= comment.created_at.strftime('%Y/%m/%d') %><br>

            <div class="d-flex">
              <%= comment.comment %>

              <% if comment.user == current_user %>
                <%= link_to "削除",
                      post_comment_path(@post, comment),
                      data: { turbo_method: :delete },
                      class: "btn btn-sm btn-danger ms-auto" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= paginate @comments %>

        <hr>

        <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <%= f.text_area :comment, rows: 3, placeholder: "コメントする" %><br>
          <%= f.submit "送信する", class: "btn btn-success mt-2" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
